<div class="container">
  <h2>Demo Scan QR Code by Javascript</h2>
  <p>Updating ....</p>

  <table class="table">
    <thead>
      <tr>
        <th>No</th>
        <th>Resource</th>
        <th>Demo</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>1</td>
        <td><%= link_to "jsQR.js", "https://github.com/cozmo/jsQR" %></td>
        <td><%= link_to "Try it", js_qr_path, class: "btn btn-primary" %></td>
      </tr>
    </tbody>
  </table>
</div>
